@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600;700&display=swap");

body{
  box-sizing: border-box;
  width: 100%;
}
body *{
  box-sizing: inherit;
}

.rvhfm .inner {
  background: url(./images/main_bg_pc.jpg) no-repeat;
  text-align: center;
  height: 100%;
  position: relative;
}

.site_logo {
  display: flex;
  justify-content: center;
  margin: 0 0 45px;
  margin-bottom: 20px;
}

#sec_kv h1 {
  text-align: center;
  filter: drop-shadow(0 0 5px white);
  z-index: 2;
}

#sec_kv .pdName {
  width: 100%;
  filter: drop-shadow(0 0 5px white);
  position: absolute;
  left: 0;
  top: 210px;
  z-index: 2;
}

.mainNew {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -365px;
  z-index: 0;
}

.mainImg {
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.mainCopy {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  filter: drop-shadow(0 0 5px white);
  z-index: 2;
}

#sec_intro {
  background-image: url(./images/r-bg.jpg) ;
}

#sec_intro .inner {
  width: 960px;
  margin: auto;
  padding: 105px 0 80px;
}

#sec_intro .c_ttl.active {
  transform: translateY(0);
  opacity: 1;
}

#sec_intro .c_ttl {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  transform: translateY(-35%);
  transition: 1s;
  opacity: 0;
}

#sec_intro .c_ttl + p {
  text-align: center;
  letter-spacing: .5px;
  line-height: 2;
  font-weight: 600;
}

#sec_intro .list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: flex-start;
  margin-top: 60px;
}

#sec_intro .list.active li {
  transform: translateX(0);
  opacity: 1;
}

#sec_intro .list li .new {
  position: absolute;
  top: 5px;
  right: 10px;
}