@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;600;700&display=swap");

body{
  box-sizing: border-box;
  width: 100%;
}
body *{
  box-sizing: inherit;
}

.rvhfm .inner {
  background: url(./images/main_bg_pc.jpg) no-repeat;
  text-align: center;
  height: 100%;
  position: relative;
}

.site_logo {
  display: flex;
  justify-content: center;
  margin: 0 0 45px;
  margin-bottom: 20px;
}

#sec_kv h1 {
  text-align: center;
  filter: drop-shadow(0 0 5px white);
  z-index: 2;
}

#sec_kv .pdName {
  width: 100%;
  filter: drop-shadow(0 0 5px white);
  position: absolute;
  left: 0;
  top: 210px;
  z-index: 2;
}

.mainNew {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -365px;
  z-index: 0;
}

.mainImg {
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.mainCopy {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  filter: drop-shadow(0 0 5px white);
  z-index: 2;
}

#sec_intro {
  background-image: url(./images/r-bg.jpg) ;
}

#sec_intro .inner {
  width: 960px;
  margin: auto;
  padding: 105px 0 80px;
}

#sec_intro .c_ttl.active {
  transform: translateY(0);
  opacity: 1;
}

#sec_intro .c_ttl {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  transform: translateY(-35%);
  transition: 1s;
  opacity: 0;
}

#sec_intro .c_ttl + p {
  text-align: center;
  letter-spacing: .5px;
  line-height: 2;
  font-weight: 600;
}

#sec_intro .list {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: flex-start;
  margin-top: 60px;
}

#sec_intro .list.active li {
  transform: translateX(0);
  opacity: 1;
}

#sec_intro .list li .new {
  position: absolute;
  top: 5px;
  right: 10px;
}

#sec_interest_1 {
  padding-top: 115px;
  width: 960px;
  margin: auto;
}

#sec_interest .c_ttl.active {
  transform: translateY(0);
  opacity: 1;
}

#sec_interest_1 .row .thumb {
  padding-left: 22px;
}

#sec_interest_1 .row .thumb .point {
  left: 2px;
  top: -54px;
}

#sec_interest_1 .row .thumb .point p {
  font-size: 1.7rem;
}

#sec_interest .row .thumb .point p span {
  display: block;
}

#sec_interest .row .thumb .point p::before {
  content: "";
  display: block;
  border: 3px solid #004845;
  width: 148px;
  height: 148px;
  position: absolute;
  left: -8px;
  top: -8px;
  z-index: -1;
  border-radius: 50%;
}

#sec_interest_1 .row dl {
  width: calc(100% - 520px);
}

#sec_interest .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1.5s;
}

#sec_interest_2 {
  padding-top: 105px;
  width: 960px;
  margin: auto;
}

#sec_interest .c_ttl.active {
  transform: translateY(0);
  opacity: 1;
}

#sec_interest_2 .row .thumb {
  order: 1;
  padding-right: 22px;
}

#sec_interest_2 .row .txt {
  width: calc(100% - 520px);
  line-height: 2;
}

#sec_interest .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1.5s;
}

#sec_interest_2 .row .thumb .point {
  right: 2px;
  bottom: -47px;
}

#sec_interest_2 .row .thumb .point p {
  letter-spacing: -.1em;
}

#sec_interest_2 .row .thumb .point p span {
  padding-top: 10px;
}

#sec_interest {
  padding-bottom: 155px;
}

#sec_lineup h2 {
  background: #004845;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}